<!DOCTYPE html>
<html>
  <head>
    <title>Lacus - Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link rel="icon" href="img/Fevicon.png" type="image/png">
  </head>

  <body> 
    <%= render 'layouts/header' %> 
    <%= yield %>

 
    <%= render 'layouts/footer' %> 
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
